@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global styles */
html, body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Header and Footer */
header, footer {
  background-color: #f8f9fa;
  padding: 1rem;
  text-align: center;
  font-weight: 100%;
}

main {
  flex: 1;
  padding: 2rem;
}

/* Responsive styles */

/* Large devices (desktops, 1200px and up) */
@media (min-width: 1200px) {
  main {
    max-width: 100%;
    /* margin: 0 auto; */
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  header, footer {
    padding: 1rem;
  }

  main {
    padding: 1rem;
  }
}
#__next {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
/* Small devices (mobile phones) */
@media (max-width: 767px) {
  header, footer {
    padding: 0.5rem;
  }

  main {
    flex: 1; /* This pushes the footer down */
  }


}


